html {
    height: 100%;
}

body {
    background-size: cover;
    background: #fff;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #000 !important;
    display: flex;
    flex-direction: column;
    
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

a.category-badge > span.badge:hover {
    background: #E1AD01 !important;
    color: #000 !important;
}

.text-custom {
    color: #E1AD01 !important;
}
/*-------------------------------------From Bulma */

/* centeredt and consistent size for fontawesome */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}



/*--------------------------------------Buttons */

.btn-black {
    background: #000;
    color: #fff;
}

.btn-outline-black {
    background: #fff;
    color: #000 !important;
    border: 1px solid #000;
}

.btn-black:hover {
    color: #E1AD01;
    font-weight: bold;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #E1AD01;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/*----------------------------------------Carousel */
.carousel-item {
    position: relative;
    /* height: 75vh; */
}

.carousel-inner {
    background-size: cover;
    overflow: hidden;
}

.cover-text{
    top: -350px;
    font-size:130%;
    width: 300px;
    height: 150px;
    background-color: rgba(225, 173, 1, 0.8);
    position: absolute;
    color: #000;
    
}

.cover-text h4 {
    padding-top: 20px;
}

/*--------------------------------------Nav Bar */

.top-nav-icon:hover {
    text-decoration: underline;
}

#main-nav a:hover {
    color: #E1AD01;
}

#main-nav a {
    color: #000;
}

.nav-item a.dropdown-item:hover {
    color: #E1AD01;
}

.bag-info {
    color: #E1AD01;
}

.bag-icon:hover {
    color: #E1AD01;
}


.delivery-banner-bg {
    background-color: #E1AD01;
}

#delivery-banner h5 {
    letter-spacing: 1px;
}

.main-nav-dropdown {
    margin-top: -1px;
    border-radius: 0;
    border: none;
}

.my-account-dropdown {
    margin-top: -1px;
    border-radius: 0;
    border: none;
}

.my-account-dropdown a {
    color: #000;
}

.my-account-dropdown a:hover {
    color: #E1AD01;
}

.nav-link .fa-star {
    color: #E1AD01;
}

/*---------------------------------- Action card */
.home-body-section {
    background-color: #fff;
    padding: 50px;
}

.home-body {
    max-width: 1100px;
    margin: 0 auto;
}

.custom-card-img {
    height: 275px;
    opacity: 0.6;
}

/*----------------------------------New arrival section */

.new-arrivals-section {
    background-color: #fff;
}

.see-all {
    float: right;
}

.see-all-link:hover {
    color: #000;
}

/*----------------------------------Bootstrap toastes */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--------------------------------------- Footer */

footer {
    margin-top: auto;
}

.footer-container {
    background-color: #000;
    height: 75px;
}

.footer-row {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.social-link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.social-links {
    margin-top: 0;
}

.social-links li a {
    color: #fff;
}

.contact-link a {
    color: #fff;
    font-size: 20px;
}

.contact-link a:hover {
    text-decoration: none;
    color: #E1AD01;
}

.footer-section {
    font-size: 20px;
}

.footer-icon {
    margin: 0px 10px;
}

.footer-icon a:hover {
    color: #E1AD01;
}

/*---------------------------------------- media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .carousel-item {
        position: relative;
        height: 75vh;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* test-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .main-navbar {
        background-color: #000;
        color: #fff;
        height: 45px;
    }

    #main-nav a {
        color: #fff;
    }

    .logo-font {
        color: #fff;
    }

    #main-nav a.dropdown-item {
        color: #000;
    }

    #main-nav a.dropdown-item:hover {
        color: #E1AD01;
    }
    
    
    .header-container {
        padding-top: 150px;
    }

    .cover-text {
        top: -150px;
    }

}

/* pad the top a bit when navbar is collapsed on mobile */

@media (max-width: 991px) {

    .header-container {
        padding-top: 95px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h5 {
        font-size: .9rem !important;
        letter-spacing: 0px !important;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    
    .carousel-item > img {
        object-fit: cover;
        height: calc(100vh - 380px);
        width: 100%;
        justify-items: center;
        margin: 0;
    }

    .cover-text {
        top: -200px;
        font-size: 120%;
        width: 240px;
        height: 120px;
        padding-top: 20px;
        position: absolute;
       
    }

    .cover-text h4 {
        font-size: 100%;
        padding-top: 0px !important;
    }

    .cards {
        margin-bottom: 10px;
        
    }

}

@media (max-width: 487px) {
    .footer-container {
        height: 150px;
    }

    .social-links {
        margin-top: 15px;
    }
}