<!-- Menu Dropdown -->
<div class="collapse navbar-collapse main-nav" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- All Products button -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Cookware button -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="cookware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cookware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cookware-link">
                <a href="{% url 'products' %}?category=pots_pans" class="dropdown-item">Pots &amp; Pans</a>
                <a href="{% url 'products' %}?category=bakeware" class="dropdown-item">Bakeware</a>
                <a href="{% url 'products' %}?category=knives" class="dropdown-item">Knives</a>
                <a href="{% url 'products' %}?category=pots_pans,bakeware,knives" class="dropdown-item">All Cookware</a>
            </div>
        </li>
        <!--Tableware button-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="tableware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tableware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tableware-link">
                <a href="{% url 'products' %}?category=cutlery" class="dropdown-item">Cutlery</a>
                <a href="{% url 'products' %}?category=crockery" class="dropdown-item">Crockery</a>
                <a href="{% url 'products' %}?category=glassware" class="dropdown-item">Glassware</a>
                <a href="{% url 'products' %}?category=cutlery,crockery,glassware" class="dropdown-item">All Tableware</a>
            </div>
        </li>
        <!--Accessories button-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=chopping_boards" class="dropdown-item">Chopping Boards</a>
                <a href="{% url 'products' %}?category=utensils" class="dropdown-item">Utensils</a>
                <a href="{% url 'products' %}?category=measuring" class="dropdown-item">Measuring</a>
                <a href="{% url 'products' %}?category=chopping_boards,utensils,measuring" class="dropdown-item">All Accessories</a>
            </div>
        </li>
        <!-- Special Offer Button -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>